{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/iniciosesion.css' %}">
    <script src="{% static 'core/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
</head>

<body>
    <div id="fundacion" class="container">
        <div id="row1" class="row">
            <div class="col-1">
                <ul class="nav">
                    <img src="{% static 'core/img/caos news.PNG' %}" class="rounded-circle" alt="...">
                </ul>
            </div>
            <div id="row2" class="col-2">
                <h1>Caos News</h1>
                <h6>Noticias las 24 horas</h6>
            </div>
            <div id="row1" class="col-9"></div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-10">
                <a class="nav-link active" href="{% url 'PaginalPrincipal' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>
                    volver
                </a>
            </div>
        </div>
        <form action="" id="form1">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-3">
                    <br>
                    <h1 aling="center">Login</h1>
                </div>
                <div class="col-4"></div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <h6>Seleccione como se registrará</h6>
                    <br>
                    <input type="radio" name="ingreso" class="i-radio" value="Periodista"> &#91;Periodista&#93;
                    <input type="radio" name="ingreso" class="i-radio" value="Usuario"> &#91;Usuario&#93;
                    <br><br>
                    <label for="txt1" class="form-label">Gmail</label>
                    <input type="email" name="txt1" id="txt1" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                    <span id="errore" class="error"></span>
                    <br>
                    <br>
                    <label for="txt2" class="form-label">Contraseña</label>
                    <input type="password" name="txt2" id="txt2" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                    <span id="errores" class="error"></span>
                    <br><br>
                    <button id="btn1" type="button" class="btn-primary"><a
                            href="{% url 'perfil' %}">Ingresar</a></button>
                    <button id="btn" type="button" class="btn-secondary"><a
                            href="{% url 'usuario' %}">Ingresar</a></button>
                </div>
                <div class="col-4"></div>
            </div>
            <br>
            <br>
            <div class="b">
                <div class="a">
                    <a class="nav-link" href="#">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
            <br><br>
        </form>
    </div>
    <script src="{% static 'core/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
</body>

</html>