{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="5" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <script src="{% static 'core/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
</head>
<body>
    <div class="containe-fluid">
        <div id="row1" class="row">         
          <div class="col">
            <ul class="nav justify-content-end">
              <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg> Nombre usuario </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'PaginalPrincipal' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg > Cerrar Sesión </a>
                    </i>
                  </li>
              </ul>
            </ul>
          </div>
        </div>
        
        <div id="Caos_News"class="row">
          <div class="col-1"> 
            <hr>                     
            <img src="{% static 'core/img/caos news.PNG' %}" class="rounded-circle" alt="...">                                      
          </div>
          <div class="col">
            <hr>
            <h1>Caos News</h1>
              <h6>Noticias las 24 horas</h6>
          </div>
          <div class="col">
            <ul class="nav justify-content-end">
              <div id="clima">
                <div id="icoClima">
                    <img id="imgClima" src="" alt="">
                </div>
                <div id="dataClima">
                    <span id="ciudad"></span><br>
                    <span id="fecha"></span><br>
                    <span id="temperatura"></span>
                </div>
              </div>  
            </ul>
            <hr>            
          </div>                       
        </div>                       
           
        <div class="row">
            <div class="col">
                <a class="nav-link active" href="{% url 'usuario' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                  </svg> volver</a>
            </div>
            <div class="col">
                <ul class="nav justify-content-end">
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                  </ul>                    
            </div>    
        </div>        
    
        <br>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'core/img/not.jpg' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-7">
                <div class="c">
                    <h1 aling="center">Nuevo retiro del 10%</h1>
                    <br>
                    <h3>Cámara aprueba proyecto de reforma 
                        transitoria con indicación que evitaría que vaya al TC</h3>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-2">
                <div class="a">
                    <p>15/04/2021</p>
                    <p>Congreso Nacional</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'core/img/not2.jpg' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-7">
                <p>Tras una larga jornada en que se ha revisado la reforma transitoria a la constitución que permite un retiro excepcional de dinero desde los fondos de pensiones, finalmente <b>la Cámara de Diputadas y Diputados aprobó el proyecto que ahora es despachado al Senado</b> para un nuevo trámite.
                    <b>El retiro de fondos en particular fue aprobado</b> por 120 votos a favor, 18 en contra y 2 abstenciones.</p>
                <br>
                <p>Por otra parte, con 92 votos a favor, <b>se aprobó que se establece una "excepción" para el retiro de fondos</b> , por lo que podría ser una indicación clave para evitar el Tribunal Constitucional.
                    En tanto, el retiro para quienes tienen <b>rentas vitalicias fue también aprobado</b> por 107 a favor, 20 en contra y 14 asbtenciones.</p>
            </div>
            <div class="col-2"></div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'core/img/not3.jpg' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-7">
                <h5>El detalle del tercer retiro.</h5>
                <br>
                <br>
                <p>
                    El proyecto que está siendo discutido en el Parlamento es una
                     reforma constitucional permanente y transitoria, presentada por 
                     los parlamentarios <b>Matías Walker (DC) y Marcos Ilabaca (PS)</b>.
                </p>
                <p>
                    Dentro de las indicaciones transitorias está el tercer retiro,
                    que sería similar al segundo, y le permitiría a los afiliados,
                    a excepción de las altas autoridades, sacar su 10% de sus ahorros,
                    con un <b>monto mínimo de 35 UF</b> ($1 millón) y <b>un máximo de 150 UF </b>
                    (aproximadamente 4,3 millones de pesos).
                </p>
            </div>
            <div class="col-2"></div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-3">
                <iframe width="350" height="300" src="https://www.youtube.com/embed/YN5TNsOCwow?start=1" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-7">
                <p>
                    En caso de que una persona tenga ahorrado menos de un millón,
                    podrá hacer retiro de todos sus fondos.
                    El pago de impuestos por concepto de retiro aún no está definido, 
                    siendo éste uno de los puntos de mayor conflicto en la discusión.
                    <b>Asimismo, el pago se haría en dos cuotas en el que caso que sean más
                    de 35 UF</b>. Y, si la persona retira un millón o menos, se le depositará 
                    todo el dinero en una única cuota.
                    Respecto de los plazos, el pago se hará 10 días hábiles desde la 
                    solicitud.
                </p>
                <p>
                    <b>Además, la reforma incluye una indicación que le permite a quienes
                    reciben rentas vitalicias poder acceder de "una vez y de forma 
                    voluntaria"</b> a solicitar un adelanto del pago de sus rentas 
                    "hasta por el monto equivalente al diez por ciento de los fondos 
                    originalmente traspasados a la respectiva compañía de seguros"
                    El pago tendría un monto máximo de pago de 150 UF.
                </p>
            </div>
            <div class="col-2"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-4">
            </div>
            <div id="bb" class="col-4">
                <p>
                    <b>Autor:</b> Junito Pérez.
                </p>
                <p>
                    <b>Cantidad de noticias:</b> 111 noticias.
                </p>
                <p>
                    <b>Categoría:</b> Social y de servicio público.
                </p>
                <p>
                    <b>Colaboradores:</b> -María Tereza.
                                         - Kevin Haisenbert.
                </p>
                <p>
                    <b>Correo:</b> juanitoperez.periodistach@gmail.com
                </p>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-2">
                <a class="nav-link active" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg> 
                    Atrás 
                </a>
            </div>
            <div class="col-8"></div>
            <div id="a" class="col-2">
                <a class="nav-link active" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>
                    Siguiente 
                </a>
            </div>
        </div>
    </div>
    <script src="{% static 'core/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
</body>
</html>