/*------login---------*/
/* oculto los elementos */
button.btn-primary{
    display: none;
  }
  button.btn-secondary{
    display: none;
  }
  label.form-label{
    display: none;
  }
  input.form-control{ 
    display: none; 
  } 
  
  
  /*mostrará si está seleccionado value=Periodista */
  input.i-radio[value="Periodista"]:checked ~ button.btn-primary{
    display: block;
  }
  input.i-radio[value="Periodista"]:checked ~ label.form-label{
    display: block;
  }
  input.i-radio[value="Periodista"]:checked ~ input.form-control{
    display: block;
  }
  
  /*no mostrará si está seleccionado value=Usuario*/
  input.i-radio[value="Usuario"]:checked ~ button.btn-secondary{
    display: block;
  }
  input.i-radio[value="Usuario"]:checked ~ label.form-label{
    display: block;
  }
  input.i-radio[value="Usuario"]:checked ~ input.form-control{
    display: block;
  }
/*------login---------*/
